<!-- posts -->


<h2 class="post__title"><%= data.title %></h2>
<span class="article-list__date__post"><%= data.createdAt.toDateString() %></span>
<article class="article">
  <%= data.body %>
</article>